body{
	font-family: 'proxima-nova', 'Lato', sans-serif;
}

.navbar {
	margin-bottom: 0px !important;
}

.container {
	max-width: 1200px;
	.intro {
		background: url('../../assets/background.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position-y: 75%;
		height: 450px;
	}
	.about {
		background-color: #23a58b;
	}
	.welcome {
		background-color: #23a58b;
		text-align: center;
		line-height: 1.3em;
		padding: 30px;
	}
}

.footer {
	margin-top: 20px;
}