<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="{{site.url}}">{{ site.title }}</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" href="http://www.meetup.com/HackPDX">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
